<div>
  <div class="accordion-group data-container" data-accordion-group>
    <div class="accordion" data-accordion>
      <div class="accordion-control" data-control>
        <h5>View Statistics in Canada</h5>
      </div>
      <div class="accordion-content" data-content>
        <div class="accordion-content-wrapper">
          <!-- Add content here -->
          <p>Total Cases: 5655</p>
          <p>Total Deaths: 61</p>
          <p><b>Cases by Province</b></p>
          <ul>
            <li>Alberta: 621</li>
            <li>British Columbia: 884</li>
            <li>Manitoba: 64</li>
            <li>New Brunswick: 51</li>
            <li>Newfoundland and Labrador: 120</li>
            <li>Nova Scotia: 110</li>
            <li>Ontario: 1144</li>
            <li>Prince Edward Island: 11</li>
            <li>Quebec: 2498</li>
            <li>
              Saskatchewan: 134
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="map"></div>
</div>
