<div>
  <div class="accordion-group data-container" data-accordion-group>
    <div class="accordion" data-accordion>
      <div class="accordion-control" data-control>
        <h5>View Statistics in Canada</h5>
      </div>
      <div class="accordion-content" data-content>
        <div class="accordion-content-wrapper">
          <!-- Add content here -->
          <p>Total Cases:</p>
          <p>Total Deaths:</p>
          <p><b>Cases by Province</b></p>
          <ul>
            <li>Alberta</li>
            <li>British Columbia</li>
            <li>Manitoba</li>
            <li>New Brunswick</li>
            <li>Newfoundland and Labrador</li>
            <li>Nova Scotia</li>
            <li>Ontario</li>
            <li>Prince Edward Island</li>
            <li>Quebec</li>
            <li>
              Saskatchewan
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="map"></div>
</div>
